*.bak
1.16.5/config/libraryferret.properties
1.16.5/config/bettervillage.properties
1.12.2/config/metamorph/list.json
1.12.2/config/bettermineshafts/1_12_2/README.txt
1.12.2/config/bettermineshafts/README.txt
1.12.2/config/worldedit/worldedit.properties
